
<li [ngClass]="{'list-group-item': true,
                 'list-group-item-success': loveIts > 0,
                  'list-group-item-danger': loveIts < 0 }">
  <div class="row">
    <h4 class="col-md-6">{{title}}</h4>
    <span class="col-md-3 pull-right">{{created_at | date:'dd/MM/yyyy hh:mm:s'}}</span>
  </div>
  <p> {{content}} </p>
  <p class="badge">Love: {{loveIts}}</p>
  <button class="btn btn-success" (click)="incrementerLove()">Love it!</button>
  <button class="btn btn-danger" (click)="decrementerLove()">Don't love it!</button>
</li>
